<script setup>

import { useForm } from '@inertiajs/vue3';
import { nextTick, ref } from 'vue';

const props = defineProps({
  board: Object,
});

const form = useForm({
  name: props.board.name,
})

const isEdit = ref(false);
const boardNameInput = ref('');
async function edit() {
  isEdit.value = true;
  await nextTick();
  boardNameInput.value.focus();
}

function onSubmit() {
  isEdit.value = false;
  form.put(route('boards.update', {board: props.board.id}), {
    onError: () => form.reset()
  });
}
</script>

<template>
  <div class="flex flex-col items-start max-w-full relative">
    <h1 class="text-2xl break-all border-transparent text-white font-bold px-3 py-2 hover:bg-white/20 rounded-lg cursor-pointer whitespace-pre w-full overflow-hidden text-ellipsis"
        @click="edit()"
        :class="[isEdit ? 'invisible' : '']">{{ form.name ? form.name : ' ' }}</h1>
    <form v-show="isEdit"
          @submit.prevent="onSubmit()"
          @focusout="onSubmit()"
          @keydown.enter="onSubmit()"
          @keydown.esc="isEdit=false"
          class="w-full">
      <input type="text"
             name=""
             id=""
             placeholder="Board Name"
             class="text-xl max-w-full font-bold placeholder-grey-600 py-1.5 rounded-lg focus:ring-2 focus:ring-indigo-500 absolute inset-0"
             v-model="form.name" ref="boardNameInput">
    </form>
  </div>
</template>

<style scoped>

</style>
