<script setup>

const props = defineProps({
  labelColors: {
    type: Array,
    required: false,
  }
});

</script>

<template>
  <div class="flex flex-row justify-between items-start flex-wrap space-x-1" v-show="props.labelColors.length">
    <span v-for="color in labelColors" :key="color" :class="[color, 'w-8', 'h-1']"></span>
  </div>
</template>

<style scoped>

</style>
