<script setup>
  import { PlusIcon } from '@heroicons/vue/20/solid';
  import { useForm } from '@inertiajs/vue3';
  import { nextTick, ref } from 'vue';

  const props = defineProps({
    board: Object
  });

  const isSowingForm = ref(false);
  const form = useForm({
    listName: ''
  });
  const input = ref();
  const formRef = ref();

  async function toggleShowForm() {
    isSowingForm.value = !isSowingForm.value;
    if (isSowingForm.value) {
      await nextTick();
      input.value.focus();
    }
  }

  function onSubmit() {
    form.post(route('boards.lists.store', {board: props.board.id}), {
      onSuccess: () => {
        form.reset();
        input.value.focus();
        formRef.value.scrollIntoView();

      },
      onError  : () => {
        form.reset();
        toggleShowForm();
      }
    });
  }
</script>

<template>
	<form ref="formRef"
        action=""
        class="p-3 bg-gray-200 rounded-lg"
        @keydown.esc="isSowingForm = false"
        v-show="isSowingForm"
        @submit.prevent="onSubmit()">
		<input
      class="block w-full text-sm rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500"
      type="text"
      placeholder="Enter list name..."
      v-model="form.listName"
      ref="input">
		<div class="mt-2 space-x-2">
			<button class="px-4 py-2 text-sm font-medium text-white bg-rose-600 hover:bg-rose-500 rounded-lg shadow-sm focus:ring-2 focus:ring-offset-2 focus:ring-rose-400 focus:outline-none"
      >Add list</button>
			<button class="px-4 py-2 text-sm font-medium text-gray-700 hover:text-black rounded-lg focus:ring-2 focus:outline-none"
              @click="toggleShowForm()">Cancel</button>
			</div>
	</form>
  <button
    class="flex items-center bg-white/10 w-full hover:bg-white/20 text-white p-2 text-sm font-medium rounded-lg"
    @click="toggleShowForm()"
    v-show="!isSowingForm">
    <PlusIcon class="w-5 h-5"></PlusIcon>
    <span class="ml-1">Add another list</span>
  </button>
</template>

<style scoped>

</style>
