<script setup>
  import { store } from '@/store.js';
  import { PlusIcon } from '@heroicons/vue/20/solid';
  import { useForm } from '@inertiajs/vue3';
  import { computed, nextTick, ref } from 'vue';


  const emit = defineEmits(['created']);

  const props = defineProps({
    list: Object
  });

  const isSowingForm = computed(() => props.list.id === store.value.listCreatingCardId);
  const form = useForm({
    title       : '',
    card_list_id: props.list.id,
    board_id    : props.list.board_id
  });
  const input = ref();

  async function showForm() {
    form.reset();
    store.value.listCreatingCardId = props.list.id;
    await nextTick();
    input.value.focus();
  }

  function onSubmit() {
    form.post(route('cards.store'), {
      onSuccess: () => {
        form.reset();
        input.value.focus();
        emit('created');
      },
    });
  }
</script>

<template>
	<form v-show="isSowingForm"
        @keydown.esc="store.value.listCreatingCardId = null">
		<textarea
      class="block w-full text-sm rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500"
      placeholder="Enter card title..."
      rows="3"
      ref="input"
      v-model="form.title"
      @keydown.enter.prevent="onSubmit()"></textarea>
		<div class="mt-2 space-x-2">
			<button class="px-4 py-2 text-sm font-medium text-white bg-rose-600 hover:bg-rose-500 rounded-lg shadow-sm focus:ring-2 focus:ring-offset-2 focus:ring-rose-400 focus:outline-none"
              @submit.prevent="onSubmit()"
      >Add card</button>
			<button class="px-4 py-2 text-sm font-medium text-gray-700 hover:text-black rounded-lg focus:ring-2 focus:outline-none"
              @click="store.value.listCreatingCardId = null">Cancel</button>
			</div>
	</form>
	  <button
      @click="showForm()"
      v-show="!isSowingForm"
      class="flex items-center p-2 text-sm font-medium text-gray-600 hover:text-black hover:bg-gray-300 rounded-lg w-full">
                <PlusIcon class="w-5 h-5" />
                <span class="ml-1">Add card</span>
              </button>
</template>

<style scoped>

</style>
