<script setup>

import Modal from '@/Components/Modal.vue';
import { useForm } from '@inertiajs/vue3';
import { ref } from 'vue';

const props = defineProps({
  cardDetails: {
    type    : Object,
    required: true,
  },
  toggleModal: {
    type    : Boolean,
    required: true,
  }
});

// const fetchCardDetails = Inertia.get(route('cards.show.card', {card: props.cardId}));

const form = useForm({
  title: props.cardDetails.title,
  description: JSON.stringify(props.cardDetails)
});

const emit = defineEmits(['close']);
const closeModal = () => {
  emit('close');
};

const isShowError = ref(false);
const titleError = ref(null);

function onSubmit() {
  form.put(route('cards.update', {card: props.cardDetails.id}), {
    onSuccess: () => emit('close'),
    onError: (error) => showError(error),
  });
}

function showError(error) {
  titleError.value = error.title;
}

</script>

<template>
   <div>
      <Modal :show="!!props.toggleModal" @close="closeModal">
      <div class="p-6 space-y-3">
        <input type="text"
               class="block w-full text-sm rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500"
               :class="{'border-rosa-500': isShowError}"
               placeholder="Enter card title..."
               v-model="form.title"/>
        <span v-if="titleError" class="text-sm text-red-500 font-semibold">{{ titleError }}</span>
        <textarea class="block w-full text-sm rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500" v-model="form.description"></textarea>
        <div class="mt-2 space-x-2">
          <button
            class="px-4 py-2 text-sm font-medium text-white bg-blue-600 hover:bg-blue-500 rounded-lg shadow-sm focus:ring-2 focus:ring-offset-2 focus:ring-rose-400 focus:outline-none"
            @click="onSubmit">Save</button>
          <button class="px-4 py-2 text-sm font-medium text-gray-700 bg-gray-200 hover:text-black bg-gray-250 rounded-lg focus:ring-2 focus:outline-none"
                  @click="closeModal">Close</button>
        </div>
      </div>
    </Modal>
   </div>
</template>

<style scoped>

</style>
