<script setup>
import CardDetailsForm from '@/Pages/Boards/CardDetailsForm.vue';
import CardLabels from '@/Pages/Boards/CardLabels.vue';
import { store } from '@/store.js';
import { PencilIcon } from '@heroicons/vue/20/solid';
import { useForm } from '@inertiajs/vue3';
import { computed, ref } from 'vue';

const props = defineProps({
  card: Object
});

const isSowingForm = computed(() => props.card.id === store.value.editingCardId);
const form = useForm({
  title: props.card.title
});
const inputTitleRef = ref();
const isShowingDetails = ref(false);
async function showForm() {
  form.reset();
  store.value.editingCardId = props.card.id;
  await nextTick();
  inputTitleRef.value.focus();
}

function onSubmit() {
  form.put(route('cards.update', {card: props.card.id}), {
    onSuccess: () => store.value.editingCardId = null,
  });
}

const colors = ['bg-red-500', 'bg-indigo-500', 'bg-blue-500']
</script>

<template>
 <li>
    <div
      class="bg-white p-3 shadow rounded-lg border-b border-gray-300 hover:bg-gray-50 flex justify-between items-start flex-1 flex-col space-y-1">
					<form action=""
                class=""
                v-show="isSowingForm"
                @keydown.esc="store.value.editingCardId = null">
							<textarea
                class="block w-full text-sm rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500"
                placeholder="Enter card title..."
                rows="3"
                ref="inputTitleRef"
                v-model="form.title"
                @keydown.enter.prevent="onSubmit()"></textarea>
							<div class="mt-2 space-x-2">
								<button class="px-4 py-2 text-sm font-medium text-white bg-rose-600 hover:bg-rose-500 rounded-lg shadow-sm focus:ring-2 focus:ring-offset-2 focus:ring-rose-400 focus:outline-none"
                        @submit.prevent="onSubmit()"
                >Save card</button>
								<button class="px-4 py-2 text-sm font-medium text-gray-700 hover:text-black rounded-lg focus:ring-2 focus:outline-none"
                        @click="store.value.editingCardId = null">Cancel</button>
								</div>
					</form>
    <template v-if="!isSowingForm">
          <CardLabels :label-colors="colors" />
					<div class="flex flex-row flex-wrap justify-between items-center w-full min-h-8">
            <a href="#" class="text-sm flex-1 min-h-8 flex flex-wrap items-center" @click="isShowingDetails = true">
              {{ props.card.title }}
            </a>
            <button
              class="w-8 h-8 rounded-lg text-gray-700 flex justify-center items-center hover:text-black hover:bg-gray-200"
              @click="showForm()">
              <PencilIcon class="w-5 h-5" />
            </button>
          </div>
    </template>
      <template v-if="isShowingDetails">
        <CardDetailsForm :card-details="card" :toggle-modal="isShowingDetails" @close="isShowingDetails = false"/>
      </template>
				</div>
 </li>
</template>

<style scoped>
  .drag > div {
    transform : rotate(5deg);
    }

  .ghost {
    background    : lightgray;
    border-radius : 8px;
    }

  .ghost > div {
    visibility : hidden;
    }
</style>
