<script setup>
import Dropdown from '@/Components/Dropdown.vue';
import Card from '@/Pages/Boards/Card.vue';
import CardCreateForm from '@/Pages/Boards/CardCreateForm.vue';
import { EllipsisVerticalIcon } from '@heroicons/vue/20/solid';

import { Inertia } from '@inertiajs/inertia';
import { ref, watch } from 'vue';
import Draggable from 'vuedraggable'

const props = defineProps({
  list: Object,
});

const cards = ref(props.list.cards);
const listRef = ref();

watch(() => props.list.cards, (newCards) => cards.value = newCards);

function onCardCreated() {
  listRef.value.scrollTop = listRef.value.scrollHeight;
}

function onChange(e) {
  let item = e.added || e.moved;
  if (!item) return;

  let index = item.newIndex;
  let prevCard = cards.value[index - 1] ?? null;
  let nextCard = cards.value[index + 1] ?? null;
  let card = cards.value[index];
  let position = card.position;

  if (prevCard && nextCard) {
    position = (prevCard.position + nextCard.position) / 2;
  } else if (prevCard) {
    position = prevCard.position + (prevCard.position / 2);
  } else if (nextCard) {
    position = nextCard.position / 2;
  }

  Inertia.put(route('cards.move', {card: card.id}), {
    position  : position,
    cardListId: props.list.id
  });
}

console.log(JSON.parse(JSON.stringify(props.list)));

</script>

<template>
     <div>
            <div class="flex items-center justify-between px-3 py-2">
             <div class="flex flex-row justify-between items center flex-1">
                <h3 class="text-sm font-semibold text-gray-700">{{ props.list.name }}</h3>
                <h5 class="text-sm font-semibold text-indigo-800">{{ cards.length }}</h5>
             </div>
              <Dropdown align="left" width="40"
                        content-classes="flex flex-col justify-between items-start p-3 px-0 bg-white shadow rounded-lg space-y-3">
                <template v-slot:trigger>
                  <button class="hover:bg-gray-300 w-8 h-8 rounded-lg grid place-content-center">
                    <EllipsisVerticalIcon class="w-5 h-5" />
                  </button>
                </template>
                <template v-slot:content>
                  <button class="text-sm text-black hover:bg-gray-100 w-full text-start h-8 px-2">Add Card</button>
                  <button class="text-red-600 text-sm hover:bg-gray-100 w-full text-start h-8 px-2">Delete List
                  </button>
                </template>
              </Dropdown>
            </div>
             <div class="pb-3 flex flex-col overflow-hidden">
              <div class="px-3 overflow-y-auto flex-1">
                <Draggable
                  v-model="cards"
                  group="cards"
                  item-key="id"
                  class="space-y-3"
                  tag="ul"
                  drag-class="drag"
                  ghost-class="ghost"
                  @change="onChange($event)">
                  <template #item="{element}">
                    <Card :card="element" />
                 </template>
              </Draggable>
              </div>
            </div>
            <div class="px-3 mt-3 mb-3">
	            <CardCreateForm :list="list" @created="onCardCreated()" />
            </div>
          </div>
</template>

<style scoped>

</style>
