<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import {Head, Link, useForm} from '@inertiajs/vue3';
import {PlusIcon} from '@heroicons/vue/20/solid';
import Popover from '@/Components/Popover.vue';
import {ref} from 'vue';

const props = defineProps({
  boards: {
    type: Array,
  }
});

const form = useForm({
  boardName: '',
});

const isPopoverClosed = ref(false);
function onSubmit() {
  form.post(route('boards.store'), {
    onSuccess: () => {
      form.reset();
      isPopoverClosed.value = true;
    },
    onError: (error) => {
      console.log(error);
    }
  });
}

</script>

<template>
  <Head title="Boards"/>

  <AuthenticatedLayout>
    <div class="w-full min-h-screen bg-gray-50 px-4 py-6">
      <div class="max-w-5xl mx-auto">
        <div class="flex items-center mb-4">
          <h3 class="font-black text-gray-700">My Boards</h3>
          <Popover button-text="Create Board"
                   class-set="ml-4 py-2 px-4 bg-gray-100 rounded-lg font-medium hover:bg-gray-200 inline-flex items-center" ref="popOver" :is-closed="isPopoverClosed.value" :is-focused="true">
            <template v-slot:icon>
              <PlusIcon class="-ml-2 w-4 h-4"/>
            </template>
            <template v-slot:panel>
              <form class="w-full" @submit.prevent="onSubmit()">
                <label for="board-name" class="block text-sm text-gray-600 font-medium m-1">Your new board: </label>
                <input
                  class="block w-full text-sm rounded-lg border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500"
                  type="text" name="board-name" id="board-name" placeholder="Board Name" v-model="form.boardName" autofocus tabindex="0">
                <p class="text-sm text-red-600" v-if="form.errors.boardName">{{form.errors.boardName}}</p>
                <div class="flex justify-end mt-2 w-full">
                  <button
	                  class="px-4 py-2 text-sm font-medium text-white bg-rose-600 hover:bg-rose-500 rounded-lg shadow-sm focus:ring-2 focus:ring-offset-2 focus:ring-rose-400 focus:outline-none">Create Board</button>
                </div>
              </form>
            </template>
          </Popover>
        </div>
        <ul class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
          <li
            v-for="board in boards"
            :key="board.id"
            class="bg-blue-600 hover:bg.blue-700 rounded-lg min-h-[7rem] relative">
            <Link class="p-3 text-lg text-white font-bold tracking-tight absolute inset-0"
                  :href="route('boards.show', {board: board.id})">{{ board.name }}
            </Link>
          </li>
        </ul>
      </div>
    </div>
  </AuthenticatedLayout>
</template>
