<script setup>
import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
import BoardNameForm from '@/Pages/Boards/BoardNameForm.vue';
import CardList from '@/Pages/Boards/CardList.vue';
import CreateBoardListForm from '@/Pages/Boards/CardListCreateForm.vue';
import { EllipsisVerticalIcon } from '@heroicons/vue/20/solid';

const props = defineProps({
	board: Object,
});
</script>

<template>
  <AuthenticatedLayout>
    <div class="flex flex-col h-full bg-blue-600">
      <div class="shrink-0 flex flex-wrap justify-between items-center p-4">
        <BoardNameForm :board="props.board" />
        <div>
          <button
	          class="inline-flex items-center bg-white/10 hover:bg-white/20 px-3 py-2 font-medium text-sm text-white rounded-lg">
            <EllipsisVerticalIcon class="w-5 h-5" />
            <span>Settings</span>
          </button>
        </div>
      </div>
      <div class="flex-1 overflow-x-auto">
        <div class="inline-flex h-full items-start px-4 pb-4 space-x-4">
						<CardList v-for="list in board.lists" :key="list.id"
						          class="w-72 max-h-full bg-gray-200 flex flex-col rounded-lg" :list="list" />
          <div class="w-72">
            <CreateBoardListForm :board="board" />
          </div>
        </div>
      </div>
    </div>
  </AuthenticatedLayout>
</template>

<style scoped>

</style>
