<script setup>
import {Popover, PopoverButton, PopoverPanel,PopoverOverlay} from '@headlessui/vue';
import {ref, watch} from 'vue';

const props = defineProps({
  buttonText: {
    type: String,
    required: true,
    default: 'Open Popover'
  },
  classSet: {
    type: String,
    required: false,
  },
  isClosed: {
    type: Boolean,
    required: false,
  },
  isFocused: {
    type: Boolean,
    required: false,
  }
});

const button = ref(null);

watch(props.isClosed, (newVal) => {
  if(newVal) {
    button?.value.click();
  }
} );

</script>

<template>
  <Popover class="relative">
    <PopoverButton as="button" :class="[classSet]"  ref="button">
      <slot name="icon"></slot>
      <span class="ml-2">{{ buttonText }}</span>
    </PopoverButton>
    <PopoverOverlay class="fixed inset-0 bg-black opacity-30" />
    <transition
      enter-active-class="transition duration-200 ease-"
      enter-from-class="translate-y-1 opacity-0"
      enter-to-class="translate-y-0 opacity-100"
      leave-active-class="transition duration-150 ease-in"
      leave-from-class="translate-y-0 opacity-100"
      leave-to-class="translate-y-1 opacity-0"
    >
      <PopoverPanel class="absolute z-10 w-72 px-4 mt-3 sm:px-0" :focus="isFocused">
        <div class="flex flex-col justify-between items-start bg-white overflow-hidden rounded-lg shadow-lg ring-1 ring-black p-3">
          <slot name="panel"/>
        </div>
      </PopoverPanel>
    </transition>
  </Popover>
</template>
