<script setup>
import Dropdown from '@/Components/Dropdown.vue';
import DropdownLink from '@/Components/DropdownLink.vue';
import NavLink from '@/Components/NavLink.vue';
import {Link} from '@inertiajs/vue3';
</script>

<template>
  <div>
    <div class="min-h-screen bg-gray-100">
      <nav class="shrink-0 flex justify-between bg-white px-4 py-3 border-b border-indigo-400">
        <Link class="text-2xl font-black tracking-tight" :href="route('boards')">clonello</Link>
        <div class="flex items-center">
          <NavLink :href="route('boards')" :active="route().current('boards')">
            My Boards
          </NavLink>
          <Dropdown align="right" width="40"
                    content-classes="flex flex-col justify-between items-start p-3 px-0 bg-white shadow rounded-lg space-y-3">
            <template v-slot:trigger>
              <button class="ml-3">
                <img class="h-9 w-9 inline rounded-full"
                     :src="$page.props.auth.user.avatarUrl"
                     :alt="$page.props.auth.user.name"/>
              </button>
            </template>
            <template v-slot:content>
              <DropdownLink :href="route('profile.edit')"> Profile</DropdownLink>
              <DropdownLink :href="route('boards')"> Boards</DropdownLink>
              <DropdownLink :href="route('logout')" method="post" as="button">
                Log Out
              </DropdownLink>
            </template>
          </Dropdown>
        </div>
      </nav>
      <!-- Page Heading -->
      <header class="bg-white shadow" v-if="$slots.header">
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
          <slot name="header"/>
        </div>
      </header>

      <!-- Page Content -->
      <main class="flex flex-col h-screen">
        <div class="flex-1 overflow-hidden">
          <slot/>
        </div>
      </main>
    </div>
  </div>
</template>
